.navBar{
    display: inline-flex;
    width: 100%;
    flex-direction: row;
}

.navBarItem{
    display: block;
    background-color: var(--primary);
    font-size: larger;
    color: var(--text);
}
.navBarList{
    display: block;
    background-color: var(--primary);
    font-size: larger;
    color: var(--text);
}